<%- include('./partials/header') %>

<%- include ('./partials/messages') %>

<% 
var unseen = "#ff000033"
var seen ="aliceblue"
%> 

<div class="d-flex flex-column align-items-center">
<table class="mb-5 card card-body" border="1px solid black">
    
  <% messages.forEach(mess => { %>
    <form method="post">
  <tr <%if(mess.adminSEEN === "1") {%> style="background-color: <%=unseen%>;" <%} else { %> style="background-color: <%=seen%>;"<% }%>>
    <td rowspan="1" style="text-align: center;writing-mode: vertical-rl;transform: rotate(180deg);"><%if(mess.adminSEEN === "1"){%> <h3>NEW!</h3> <%}%><br><%=String(mess.date).substring(8,10)%>-<%=mess.date.getMonth()%>-<%=String(mess.date).substring(11,15)   %></td>
            
    <td hidden><input type="text" name="orderID" value="<%=mess._id%>"></td>
    <td>  <div><input type="text" name="name" value="<%=mess.name%>"><br>
                <input type="text" name="email" value="<%=mess.email%>">                 </div>
          <div><textarea type="text" name="textarea" style="height: 183px;width: 220px;"><%=mess.message%></textarea>                </div>    </td>

    <td>
      <input type="submit" value="Delete" class="actionButton btn btn-primary" formaction="/messages_delete"><br>
      <button type="submit" value="Mark as seen" class="actionButton btn btn-secondary" formaction="/messages_markseen">Mark as <br>seen</button><br>
      <button type="submit" value="Mark as seen" class="actionButton btn btn-light" formaction="/messages_markunseen">Mark as <br>unseen</button><br>
      <button type="submit" value="Update" class="actionButton btn btn-danger" formaction="/messages_update">Update</button><br></td>
  </tr>
</form>
   <% }); %>

</table>
    
</div>
