<% counter=0%>
        <% var totalprice=0.00 %>
            <div class="basket card text-center d-flex flex-column align-items-center">

                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Basket</li>
                    </ol>
                </nav>

                <% if(typeof success_msg) %>

                    <% if (basket.length> 0 ) { %>


                        <div class="alert alert-info  d-flex align-items-center fade show" role="alert">
                            <div class="mx-auto">
                                <h5>Hello <%= user.name %>!</h5>
                                <p class="text-center">This is your basket contents</p>
                            </div>
                            <button type="button" class="btn-close fade show" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>

                        <table style="width: fit-content;">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h3>Product</h3>
                                </td>
                                <td>
                                    <h3 class="px-2">Price</h3>
                                </td>
                                <td>
                                    <h3 class="px-2">Qty</h3>
                                </td>
                                <td>
                                    <h3 class="px-2">Total</h3>
                                </td>
                            </tr>
                            <% basket.forEach(element=> {

                                var product = productDetails.find(prod => prod.name === element.productName);
                                var price = product.price
                                var quantity = element.qty;
                                var totalPrice = parseFloat(price * quantity).toFixed(2);
                                totalprice += parseFloat(totalPrice);
                                %>
                                <tr id="row<%= counter %>">
                                    <td hidden>
                                        <%= element._id %>
                                    </td>
                                    <td class="pl-5">
                                        <img src="./img/remove.png"
                                            style="width: auto;height: 30px;transition: all 0.5s cubic-bezier(0, 1.64, 0.99, 1.63) 0s;"
                                            onclick="deleteThis('<%= element._id %>','<%= element.productName %>')"
                                            onmouseover="this.style.transform= 'scale(1.5)'"
                                            onmouseleave="this.style.transform= 'scale(1)'"></img>
                                    </td>
                                    <td><img src="<%= product.img %>" class="basketIMG"></td>
                                    <td class="px-5" style="overflow:hidden;width: 200px;word-break: break-word;">
                                        <%= element.productName %>
                                    </td>
                                    <td style="width: 20px;">
                                        <%= price %>
                                    </td>
                                    <td>
                                        <%= quantity %>
                                    </td>
                                    <td style="width: 30px;">
                                        <%= totalPrice %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="3" style="height:5px;background-color: black;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="text-align: right;">
                                            <h3>TOTAL £<%= totalprice.toFixed(2) %>
                                            </h3>
                                        </td>
                                    </tr>
                        </table>
                        <div>
                            <form method="post" id="checkoutForm" class="my-4">
                              
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" onclick="check()">
                                    Checkout
                                </button>

                            </form>
                        </div>
                        <% } else { if(typeof success_msg !=="string" ) { %>
                            <div class="alert alert-info d-flex flex-column align-items-center fade show" role="alert">
                                <button type="button" class="btn-close fade show" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                                <h1 class="mt-3"> 😢 Dear <%= user.name %>.... </h1>
                                <div class="d-flex flex-column">
                                    <div>
                                        <h3>Butterflies ran with your cards!</h3>
                                    </div>
                                    <div id="btfh2" class="rounded">
                                        <h2>I`m sorry your basket is empty!</h2>
                                    </div>
                                    <img id="btfimg" src="./img/butterfly.png" class="w-50 mx-auto">
                                </div>
                            </div>

                            <% } else {%>


                                <%if(typeof success_msg=="string" ){%>
                                    <div class="alert alert-success  d-flex align-items-center fade show" role="alert">
                                        <div class="mx-auto">
                                            <p class="text-center">
                                                <%= success_msg %>
                                            </p>
                                        </div>
                                        <button type="button" class="btn-close fade show" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                    </div>
                                    <%}%>


                                        <% } %>
                                            <% } %>
            </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalProceed" <%if(!user.address){%> disabled <%}%> onclick="document.getElementById('checkoutForm').submit()">Proceed</button>
            </div>
        </div>
    </div>
</div>


<script defer>
async function deleteThis(param, param2) {
    document.body.innerHTML +=
        '<form  id="customForm" action="/removeproduct" method="post"><input type="text" name="productID" value="' + param + '" hidden><input type="text" name="productName" value="' + param2 + '" hidden></form>';
    document.getElementById("customForm").submit();
}


const check = () => {
    const userAddress = "<%=user.address%>"
    if (!userAddress) {
        document.querySelector('.modal-body').innerHTML = "Please head to <a href='/profile'>profile page</a> and enter your address."
    } else {
        document.querySelector('.modal-body').innerHTML = "Please confirm you want to proceed to checkout."
    }
}
</script>