<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Register</h1>
<% if(typeof errors !== "undefined") {%>
    
    <% errors.forEach(err => { %>
        <p>❗<%= err.msg %></p>
    <% }); %>

    <%}%>

    <form action="/register" method="POST" class="registerForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control primaryElem" placeholder="Enter Name"
                autocomplete="username" value="<% if(typeof errors !== "undefined") {%><%=name%><%}%>" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control primaryElem" placeholder="Enter Email"
                autocomplete="username" value="<% if(typeof errors !== "undefined") {%><%=email%><%}%>" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control primaryElem" placeholder="Enter Password"
                autocomplete="current-password" value="<% if(typeof errors !== "undefined") {%><%=password%><%}%>" required/>
        </div>
        <div class="form-group">
            <label for="passwordRepeat">Password Repeat</label>
            <input type="password" id="passwordRepeat" name="passwordRepeat" class="form-control primaryElem" placeholder="Repeat Password"
                autocomplete="current-password" value="<% if(typeof errors !== "undefined") {%><%=passwordRepeat%><%}%>" required/>
        </div>
        <button type="submit" class="primaryElem w-100 mt-5 dodgerblue">Register</button>
    </form>
</div>